body {
  background: beige;
  width: 100%;
  height: 100%;
}
.page-container {
  margin: 2px;
  height: auto;
  background-image: url("https://images.pexels.com/photos/220182/pexels-photo-220182.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 2.5%;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1548628733-d4216c78ae55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1354&q=80");
  background-size: cover;
  height: 350px;
  width: 95%;
  margin-bottom: 15px;
  border-radius: 20px;
}
.nav-header-container {
  width: 90%;
  height: 197px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: space-evenly;
  width: 98%;
  height: 40px;
  margin: 5px;
}
.nav-logo {
  width: 200px;
  height: 200px;
  text-align: center;
  padding-top: 10px;
  margin: 3px;
}
@media (max-width: 800px) {
  .nav-logo {
    display: none;
  }
}
.header-text-box {
  width: 98%;
  height: 140px;
  padding-top: 1%;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}
@media screen and (max-width: 800px) {
  .header-text-box {
    font-family: Times;
    font-family: 'Indie Flower', cursive;
  }
}
.banner-large {
  color: black;
  font-size: 50px;
  background-color: beige;
  text-shadow: #969696 1px 3px 0px, #aba8a8 1px 3px 5px;
  text-align: center;
}
.banner-small {
  color: black;
  font-size: 22px;
  background-color: #856036;
  text-shadow: #969696 1px 3px 0px, #aba8a8 1px 3px 5px;
  text-align: center;
}
.highlight-expat {
  font-family: 'Indie Flower', cursive;
}
.box-under-nav {
  border: 10px solid ;
  width: 95%;
  height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  background: beige;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}
@media (max-width: 700px) {
  .box-under-nav {
    font-size: 16px;
    height: 330px;
  }
}
@media (max-width: 575px) {
  .box-under-nav {
    font-size: 14px;
    height: 310px;
  }
}
@media (max-width: 400px) {
  .box-under-nav {
    height: 360px;
  }
}
@media (max-width: 350px) {
  .box-under-nav {
    display: none;
    margin-left: 25%;
  }
}
.button {
  background: brown;
  color: white;
  font-size: 25px;
  border: 10px solid;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
  padding: 0px 80px 0px 80px;
  padding-left: 35px;
  margin-left: 35%;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media (max-width: 400px) {
  .button {
    padding-left: 30px;
    padding-right: 40px;
    margin: 20%;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/*eye ball*/
.eye {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 30px 0px 0px 0px rgba(255, 255, 255, 0.8);
  position: relative;
}
#left-eye {
  margin-left: 20%;
  margin-top: 15px;
}
#right-eye {
  margin-top: 15px;
  padding-left: 10%;
}
.eye:after {
  background-color: #59488b;
  width: 10px;
  height: 10px;
  box-shadow: 30px 0px 0px 0px #59488b;
  border-radius: 50%;
  left: 9px;
  top: 8px;
  position: absolute;
  content: "";
  -webkit-animation: eyeball 1s linear infinite alternate;
  -moz-animation: eyeball 1s linear infinite alternate;
  animation: eyeball 1s linear infinite alternate;
}
@-webkit-keyframes eyeball {
  0% {
    left: 9px;
  }
  100% {
    left: 1px;
  }
}
@-moz-keyframes eyeball {
  0% {
    left: 9px;
  }
  100% {
    left: 1px;
  }
}
@keyframes eyeball {
  0% {
    left: 9px;
  }
  100% {
    left: 1px;
  }
}
.left-text-box {
  width: 25vw;
  height: 230px;
  padding-top: 20px;
  padding-left: 2px;
  padding-right: 2px;
}
.middle-text-box {
  width: 30vw;
  height: 230px;
  padding-top: 20px;
}
.right-text-box {
  width: 30vw;
  height: 230px;
  padding-top: 20px;
}
.text-scroll-box {
  width: 95%;
  height: 65px;
  margin: 0 auto;
  margin-top: 50px;
  background: black;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: 'Indie Flower', cursive;
  border: 10px solid;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
  border-radius: 10px;
}
@media (max-width: 1000px) {
  .text-scroll-box {
    display: none;
  }
}
.left-eye-box {
  width: 20%;
  height: 35px;
}
.right-eye-box {
  width: 20%;
  height: 35px;
}
.scrolling-text {
  height: 40px;
  width: 50%;
  position: relative;
  color: white;
  margin: 0 auto;
}
.scrolling-text h3 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: left;
  /* Apply animation to this element */
  -moz-animation: scrolling-text 5s linear infinite alternate;
  -webkit-animation: scrolling-text 5s linear infinite alternate;
  animation: scrolling-text 5s linear infinite alternate;
}
/* Move it (define the animation) */
@-moz-keyframes scrolling-text {
  0% {
    -moz-transform: translateX(20%);
  }
  100% {
    -moz-transform: translateX(0%);
  }
}
@-webkit-keyframes scrolling-text {
  0% {
    -webkit-transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes scrolling-text {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}
.img-container {
  display: flex;
  flex-wrap: wrap;
}
a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}
a:hover {
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  a {
    font-size: 14px;
    font-family: Arial;
  }
}
h1 {
  color: white;
}
button {
  width: 130px;
  height: 25px;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 33%;
  margin-bottom: 5px;
  opacity: 0.6;
  border: 2px solid black;
  font-weight: bold;
}
button:hover {
  opacity: 1;
}
.subscribe {
  width: 400px;
  height: 75px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  background: white;
}
.contact-form-header {
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-top: 40px;
}
.contact-us-box {
  margin: 0 auto;
}
/* The container */
.container-form {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container-form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}
.container {
  padding: 1em 0;
  float: left;
  width: 50%;
}
.container img {
  object-fit: fill;
  height: 250px;
}
@media screen and (max-width: 640px) {
  .container {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .container {
    width: 33.33333%;
  }
}
.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
}
.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 2s ease-in-out 0s;
  -moz-transition: all 2s ease-in-out 0s;
  transition: all 2s ease-in-out 0s;
}
.content:hover .content-overlay {
  opacity: 1;
  border-radius: 8px;
}
.content-image {
  width: 100%;
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.6);
  border: 10px solid;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease-in-out 0s;
}
.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p {
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-bottom {
  top: 80%;
}
.fadeIn-top {
  top: 20%;
}
.fadeIn-left {
  left: 20%;
}
.fadeIn-right {
  left: 80%;
}
.signUp-login-container {
  display: flex;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  max-width: 150px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border: 1px solid black;
  width: 400px;
  background: gray;
  opacity: 0.7;
  border-radius: 8px;
  color: black;
  padding-bottom: 50px;
}
h1 {
  margin: 0 0 30px 0;
  text-align: center;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
.signUp-button {
  color: black;
  background-color: goldenrod;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 50%;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  margin-left: 90px;
  border: 2px solid black;
}
fieldset {
  margin-bottom: 30px;
}
legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 8px;
}
label.light {
  font-weight: 300;
  display: inline;
}
@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}
#about-us-button {
  color: black;
}
.icon-container {
  width: 80%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 0 auto;
  background: goldenrod;
  border-radius: 8px;
  margin-bottom: 20px;
}
.small-icon-boxes {
  width: 30px;
  height: 30px;
}
.small-icon-boxes:hover {
  border: 1px solid black;
  border-radius: 50%;
}
.new-posts-text {
  margin-left: 50px;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 35px;
  font-weight: bold;
}
.main-blog-container {
  width: 95%;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.blog-boxes {
  border: 2px solid black;
  width: 98%;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: beige;
  color: black;
  display: flex;
  border-radius: 10px;
}
.bloggers {
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  color: black;
}
.flag-next-to-text {
  margin-left: 5px;
}
.footer {
  border: 4px solid;
  width: 98%;
  height: 50px;
  background: beige;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  opacity: 0.5;
  padding-top: 10px;
  border-radius: 10px;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
}
