body {
  background: beige;
  width: 100%;
  height: 100%;
}
.page-container {
  border: 6px solid blue;
  margin: 20px;
  height: 1600px;
  background: beige;
}
nav {
  display: flex;
  border: 3px solid red;
  justify-content: space-evenly;
  margin-left: 2.5%;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1484199316358-d7acb93729f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1372&q=80");
  height: 300px;
  width: 95%;
}
.nav-header-container {
  border: 3px dashed purple;
  width: 90%;
  height: 197px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: space-evenly;
  border: 3px solid black;
  width: 98%;
  height: 40px;
  margin: 5px;
}
.header-text-box {
  border: 3px solid brown;
  width: 98%;
  height: 140px;
}
a {
  color: brown;
  text-decoration: none;
  margin-top: 10px;
  font-size: 20px;
}
a:hover {
  font-weight: bold;
}
h1 {
  color: white;
}
.nav-logo {
  width: 200px;
  height: 200px;
  border: 3px dashed gray;
  text-align: center;
  padding-top: 10px;
  margin: 3px;
}
button {
  width: 130px;
  height: 25px;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 30%;
}
.subscribe {
  border: 3px dashed green;
  width: 400px;
  height: 50px;
  font-size: 20px;
}
.contact-page-background {
  background: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.tablet-form {
  border: 3px solid goldenrod;
  height: 480px;
  border: 3px solid black;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}
.mobile-form {
  display: none;
}
/* The container */
.container-form {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container-form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.container-form input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container-form input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container-form .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}
.container {
  padding: 1em 0;
  float: left;
  width: 50%;
  object-fit: cover;
}
@media screen and (max-width: 640px) {
  .container {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .container {
    width: 33.33333%;
  }
}
.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}
.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 2s ease-in-out 0s;
  -moz-transition: all 2s ease-in-out 0s;
  transition: all 2s ease-in-out 0s;
}
.content:hover .content-overlay {
  opacity: 1;
  border-radius: 8px;
}
.content-image {
  width: 100%;
  border-radius: 8px;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease-in-out 0s;
}
.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p {
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-bottom {
  top: 80%;
}
.fadeIn-top {
  top: 20%;
}
.fadeIn-left {
  left: 20%;
}
.fadeIn-right {
  left: 80%;
}
